<div class="container-fluid simpleNavBar">
    <div class="row justify-content-between">
        <div class="md-5 NavDesktopSimple align-items-center ml-5">  
            <a href="{{ path('homepage') }}">
                <span class="adminTitle"><i class="fas fa-user-shield"></i> Admin v1.0</span></a>
        </div>
    </div>
</div>
