<div class="container-fluid pb-4 pt-5">
    <div class="row">
        <div class="col-md-12 text-center color titleColor mt-3 ml-3">
            <img src="{{ asset('images/rosace-title.png') }}" alt="" class="mb-2">
            <h4 class="titlecolor"><b>QUELQUES</b> PROJET...</h4>
            <img src="{{ asset('images/trait.png') }}" alt="" style="width:14%" class="mb-2">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="navTabsTech list_js">
                <li class="active"><a href="#tabs1">Back</a></li>
                <li><a href="#tabs2">Env</a></li>
                <li><a href="#tabs3">Front</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div id="tabs1" class="box active">
        <div class="row justify-content-center text-center flex-wrap iconSkills">
          <i class="fab fa-symfony"><p>Symfony 5</p></i>
          <i class="fab fa-php"><p>Php</p></i>
          <i class="fab fa-node"><p>Node.js</p></i>
          <i class="fas fa-database"><p>Sql Doctrine</p></i>
          <i class="fas fa-project-diagram"><p>Uml</p></i>
          <i class="fas fa-server"><p>Ovh</p></i>
          <i class="fas fa-file-code"><p>Api</p></i>
        </div>
    </div>
</div>
<div class="container">
    <div id="tabs2" class="box hide">
        <div class="row justify-content-center flex-wrap iconSkills"> 
          <i class="fab fa-github"><p>Git</p></i>
          <i class="fab fa-unity"><p>Unity C#</p></i>
          <i class="fab fa-trello"><p>Trello</p></i>
          <i class="fab fa-ubuntu"><p>Ubuntu</p></i>
          <i class="fab fa-linux"><p>Linux</p></i>
          <i class="fab fa-windows"><p>Windows</p></i>
        </div>
    </div>
    <div id="tabs3" class="box hide">
        <div class="row justify-content-center flex-wrap iconSkills">
            <i class="fab fa-vuejs"><p>Vue.Js</p></i>
            <i class="fab fa-js-square"><p>Javascript</p></i>
            <i class="fab fa-html5"><p>Html 5</p></i>
            <i class="fab fa-css3-alt"><p>Css 3</p></i>
            <i class="fab fa-bootstrap"><p>Bootsrap</p></i>
            <i class="fab fa-symfony"><p>Symfony 5</p></i>
            <i class="fab fa-react"><p>React.js</p></i>
        </div>
    </div>
</div>