


  <div class="row justify-content-center">
    <div class="col-md-12 text-center color titleColor mt-3 ml-3">
        <img src="{{ asset('images/rosace-title.png') }}" alt="" class="mb-2">
        <h4 class="titlecolor"><b>SOME</b> SKILLS.</h4>
        <img src="{{ asset('images/trait.png') }}" alt="" style="width:14%" class="mb-2">
    </div>
    <div class="col-md-5 text-center justify-content-center">
      <div class="button-group filters-button-group mb-5">
        <button class="button is-checked isotopButton" data-filter=".front">Front</button>
        <button class="button isotopButton" data-filter=".env">Env</button>
        <button class="button isotopButton" data-filter=".back">back</button>
      </div>
      <div class="grid">
        <div class="element-item back iconSkills mr-4" data-category="front"> 
          <i class="fab fa-vuejs"><p>Vue.Js</p></i>
        </div>
        <div class="element-item back iconSkills mr-4" data-category="front">
          <i class="fab fa-js-square"><p>Javascript</p></i>
        </div>
        <div class="element-item back iconSkills mr-4" data-category="front">
          <i class="fab fa-html5"><p>Html 5</p></i>
        </div>
        <div class="element-item back iconSkills mr-4" data-category="front">
          <i class="fab fa-css3-alt"><p>Css 3</p></i>
        </div>
        <div class="element-item back iconSkills mr-4" data-category="front">
          <i class="fab fa-bootstrap"><p>Bootsrap</p></i>
        </div>
        <div class="element-item back iconSkills mr-4" data-category="front">
          <i class="fab fa-symfony"><p>Symfony 5</p></i>
        </div>
        <div class="element-item back iconSkills mr-4" data-category="front">
          <i class="fab fa-react"><p>React.js</p></i>   
        </div>
        <div class="element-item env iconSkills mr-4" data-category="env">
          <i class="fab fa-github"><p>Git</p></i>
        </div>
        <div class="element-item env iconSkills mr-4" data-category="env">
          <i class="fab fa-unity"><p>Unity C#</p></i>
        </div>
        <div class="element-item env iconSkills mr-4" data-category="env">
          <i class="fab fa-trello"><p>Trello</p></i>
        </div>
        <div class="element-item env iconSkills mr-4" data-category="env">
          <i class="fab fa-ubuntu"><p>Ubuntu</p></i>
        </div>
        <div class="element-item env iconSkills mr-4" data-category="env">
          <i class="fab fa-linux"><p>Linux</p></i>
        </div>
        <div class="element-item env iconSkills mr-4" data-category="env">
          <i class="fab fa-windows"><p>Windows</p></i>
        </div>
        <div class="element-item env iconSkills mr-4" data-category="env">
          <i class="fab fa-codepen"><p>Codepen</p></i>
        </div>
        <div class="element-item front iconSkills mr-4" data-category="back">
          <i class="fab fa-symfony"><p>Symfony 5</p></i>
        </div>
        <div class="element-item front iconSkills mr-4" data-category="back">
          <i class="fab fa-php"><p>Php</p></i>
        </div>
        <div class="element-item front iconSkills mr-4" data-category="back">
          <i class="fab fa-node"><p>Node.js</p></i>
        </div>
        <div class="element-item front iconSkills mr-4" data-category="back">
          <i class="fas fa-database"><p>Sql Doctrine</p></i>
        </div>
        <div class="element-item front iconSkills mr-4" data-category="back">
          <i class="fas fa-project-diagram"><p>Uml</p></i>
        </div>
        <div class="element-item front iconSkills mr-4" data-category="back">
          <i class="fas fa-tools"><p>Ovh</p></i>
        </div>
      </div>
    </div>
  </div>


