{% extends 'base.html.twig' %}
{% block title %}Profile{% endblock %}

{% block body %}
    {% if app.user %}
        {% include 'NavBarSimple.html.twig' %}

        <div class="container">
            <div class="row justify-content-center mt-5 mb-5">
                <div class="col-md-10">
                    <h1 class="titleColor"><i class="fas fa-users-cog"></i>Modification du profil</h1>

                    {{form_start(form)}}
                    {{form_widget(form)}}

                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                    <a href="{{ path('account_logout') }}"><button type="button" class="btn btn-danger">Deconnexion</button></a>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
        
    {% else %}
        Connectez vous
    {% endif %}
{% endblock %}
