

html {
    height: 100%;
}
body{
    font-family: 'Rajdhani', sans-serif;
    background-color: rgb(244, 244, 244);
    min-height: 100%;
    position:relative;
}

footer {
    /* position: absolute;  */
    bottom: 0; 
    width:100%
}


.NavDesktop{
    display: flex;
    position: absolute;
    z-index: 999;
    right: 0;
    padding-right: 5%;
    padding-top: 1%;
    
}

.navButton{
    margin-left: 6%;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.4s;
}

.navButton:hover{
    background-color: rgb(255, 255, 255);
    color: #263e84;
    transition: 0.4s;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}


.NavDesktopSimple{
    display: flex;
    /* padding-right: 5%;
    padding-top: 1%; */
    height: 65px;
    
}

.navButtonSimple a{
    margin-left: 6%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.4s;
}

.navButtonSimple a:hover{
    background-color: rgb(255, 255, 255);
    color: #161616;
    transition: 0.4s;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}

.simpleNavBar{
    background: rgba(65,35,191,1);
    background: -moz-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(65,35,191,1)), color-stop(12%, rgba(67,32,182,1)), color-stop(96%, rgba(80,11,118,1)));
    background: -webkit-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -o-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -ms-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: linear-gradient(to right, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4123bf', endColorstr='#500b76', GradientType=1 );
}

.blockBanner01{
    background: rgba(65,35,191,1);
    background: -moz-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(65,35,191,1)), color-stop(12%, rgba(67,32,182,1)), color-stop(96%, rgba(80,11,118,1)));
    background: -webkit-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -o-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -ms-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: linear-gradient(to right, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4123bf', endColorstr='#500b76', GradientType=1 );
    font-weight: bold;
    color: white;

}

.blockBanner01 p:nth-child(2), p:nth-child(3){
    font-size: 2.3rem;
    line-height: 20px;
}

.blockBanner01 p:nth-child(4) span:nth-child(1){
    margin-top: 50px;
    font-size: 1.4rem;
    background-color: white;
    color:rgb(74, 2, 141);
    border-radius: 40px;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 500;
    letter-spacing: 4px;
}

.blockBanner01 img:nth-child(7), img:nth-child(8), img:nth-child(9){
  
    /*color: rgb(0, 255, 21);
     border: 2px solid white; 
    border-radius: 50%; */
}

.blockBanner01 p:nth-child(4) span:nth-child(3){
    font-size: 1.4rem;
    background-color: white;
    color: rgb(74, 2, 141);
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    letter-spacing: 3px;
}

.bannerLowpolyImg{
    padding-left: 0;
    padding-right: 0;
}

.blockiDO{
    background-color:white;
}

.btnrounded{
    border-radius: 30%;
    font-weight: 900;
}

h1{
    color: purple;
    
}



.titleColor{
    background: -webkit-linear-gradient(#4f9ed6, #642088);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tripleCard{
    background: -webkit-linear-gradient(#4f9ed6, #642088);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    min-height: 300px;
    border-radius: 10px;
    font-weight: 900;
}

.tripleCard span{
 font-size: 1.5rem;
}

.tripleCard img{
    border-radius: 50%;
}

.projectCard{
    border-radius: 10px;
    cursor: pointer;
}

.newsCard {
    position: relative;
    background-color: #fff;
    color:#fff;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 10px;
    cursor: pointer;
  }
  
  .newsCaption {
    position: absolute;
    top: auto;
    bottom: 0;
    opacity: .9;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(65,35,191,1);
    background: -moz-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(65,35,191,1)), color-stop(12%, rgba(67,32,182,1)), color-stop(96%, rgba(80,11,118,1)));
    background: -webkit-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -o-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -ms-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: linear-gradient(to right, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4123bf', endColorstr='#500b76', GradientType=1 );
    padding: 15px;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
    transition: opacity 0.1s 0.3s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s, -webkit-transform 0.4s;
  }

  .newsCaption-title {
    font-weight: bold;
    text-transform: uppercase;
    color: #ff0015;
    font-size: 1.9rem;
    line-height: 10px;
  }

  .projectTitle{
    text-transform: uppercase;
    font-size: 1.3rem;
    
  }
  .dottedLine{
    border-bottom:3px dotted white;
  }

  .techTxt{
    font-weight: bold;
    text-transform: uppercase;
  }

  .newsCaption-content {
    height:90px;
    
  }
  
  .newsCaption-link a{
    bottom:0;
    border:4px solid white;
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.4s;
    color: #fff;
    opacity: .9;
    font-size:1.2rem;

    -webkit-transition-property: opacity;
    transition-property: opacity;

    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;

    -webkit-transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
     transition-timing-function: cubic-bezier(0.39, 0.58, 0.57, 1);
  }

  .newsCaption-link a:hover {
    opacity: 0.9;
    font-weight: bold;
    color: rgb(94, 8, 134);
    transition: 0.4s;
    background:white;
    text-decoration: none;
  }
  
  .news-Slide-up:hover .newsCaption {
    opacity: .9;

    -webkit-transform: translateY(0px);
     transform: translateY(0px);
     
    -webkit-transition: opacity 0.1s, -webkit-transform 0.4s;
    transition: opacity 0.1s, -webkit-transform 0.4s;
    transition: transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s, -webkit-transform 0.4s;
  }

.filterSpan{
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 29px;
    border:3px solid #5c4ea4;
    font-weight: 900;
}

.filterSpan:hover{
    background: -webkit-linear-gradient(#4f9ed6, #642088);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color:white!important;
}

.navTabs{
    list-style:none;
}

.navTabsTech{
    list-style:none;  
}
  
li{
    display:inline;    
}

li a{
    text-decoration:none;
    color:#5c4ea4;
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 29px;
    border:3px solid #5c4ea4;
    font-weight: 900;
    transition: 0.4s;
}

li a:hover{
    transition: 0.4s;
    text-decoration:none;
    background-color:#5c4ea4;
    color:white;
}

.box.active { 
    display: block;
    transition: 0.4s;
}

.box.hide {
    display: none; 
    transition: 0.4s;
}

.boxTech.active { 
    display: block; 
    transition: 0.4s;
}

.boxTech.hide { 
    display: none; 
    transition: 0.4s;
}




.blocExp{
    color:white;
    min-height: 650px;
    background: rgba(65,35,191,1);
    background: -moz-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(65,35,191,1)), color-stop(12%, rgba(67,32,182,1)), color-stop(96%, rgba(80,11,118,1)));
    background: -webkit-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -o-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -ms-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: linear-gradient(to right, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4123bf', endColorstr='#500b76', GradientType=1 );
}

.line_left{
    border-left:4px dotted white;
}

.line_leftBlack{
    border-left:4px dotted rgb(0, 0, 0);
}

.line_left p:nth-child(3){
    font-size: 1rem;
}

.line_leftBlack p:nth-child(3){
    font-size: 1rem;
}

.redfont{
    color:#ff0024;
}

.blocDip{

    min-height: 650px;
    background-color: white;
}

.gradientPurpleFont{
    background: -webkit-linear-gradient(90deg, #4f9ed6, #642088);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 23px;
}

.titleh4{

}

.aboutBlock{
    background: rgba(65,35,191,1);
    background: -moz-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(65,35,191,1)), color-stop(12%, rgba(67,32,182,1)), color-stop(96%, rgba(80,11,118,1)));
    background: -webkit-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -o-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -ms-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: linear-gradient(to right, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4123bf', endColorstr='#500b76', GradientType=1 );
    color:white;
}

.avatar{
    border-radius: 50%;
}

.blocContact{
    min-height: 550px;
    background: rgba(65,35,191,1);
    background: -moz-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(65,35,191,1)), color-stop(12%, rgba(67,32,182,1)), color-stop(96%, rgba(80,11,118,1)));
    background: -webkit-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -o-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: -ms-linear-gradient(left, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    background: linear-gradient(to right, rgba(65,35,191,1) 0%, rgba(67,32,182,1) 12%, rgba(80,11,118,1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4123bf', endColorstr='#500b76', GradientType=1 );
}

.blocContact img{
    width: 90%!important;
}

.titleFormColor{
    color:rgb(255, 255, 255);
}

.contactFormMessage{
    min-height: 170px;
}

.footerBlock{
    min-height: 80px;
    background-color: rgb(24, 24, 24);
    font-weight: bold;
    color:white;
    line-height: 80px;
}


/* ####### ADMIN SECTION ######### */
.pagination {
   
    justify-content: center;
}

.pagination span{
   
    width:30px;
    height: 30px;
    border:2px solid rgb(0, 123, 255);
    margin:5px;
    border-radius: 50%;
    font-weight: bold;
    color: rgb(0, 123, 255);
    transition: 0.4s;
}

.pagination span:hover{
   
    width:30px;
    height: 30px;
    background-color: rgb(0, 123, 255);
    margin:5px;
    border-radius: 50%;
    font-weight: bold;
    color:white;
    transition: 0.4s;
}

.pagination a{
    text-decoration: none;
    color:rgb(0, 123, 255);
    font-weight: bold;
    vertical-align: middle;
    transition: 0.4s;
}

.pagination a:hover{
    color:rgb(255, 255, 255);
    transition: 0.4s;
}