{% extends 'base.html.twig' %}

{% block body %}
{% include 'NavBarSimple.html.twig' %}

<div class="container-fluid mx-0">
    <div class="row mt-5">
        <div class="col-md-4 text-right">
            <img src="https://picsum.photos/380/300" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-6 bg-white">
            <div class="row">
                <div class="col-md-12 d-flex justify-content-between mt-3">
                    <div class="r">
                        PROJECT<br>JEUX DE COMBAT
                    </div>
                    <div class="e">
                        <img src="https://placehold.it/40/40" alt="">
                        <img src="https://placehold.it/40/40" alt="">
                        <img src="https://placehold.it/40/40" alt="">
                    </div>   
                </div>
                <div class="col-md-12">
                    Duis non volutpat arcu, eu mollis tellus. Sed 
                    finibus aliquam neque sit amet sodales. Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. Nulla maximus pellentes que velit, quis 
                    consequat nulla effi citur at. Maecenas sed massa tristique.Duis non 
                    volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes 
                    que velit, quis consequat nulla effi citur at. Maecenas sed massa tristique.Duis 
                    non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales.
                </div>              
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 bg-white">
            <div class="row justify-content-end">
                <div class="col-md-8 pt-3">
                    CHAPTER ONE<br>
                    JEUX DE COMBAT JS<br>
                    Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. Lorem 
                    ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, quis 
                    consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, eu mollis
                    tellus. Sed finibus aliquam neque sit amet sodales. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Nulla maximus pellentes que velit, quis consequat nulla effi citur at. 
                    Maecenas sed massa tristique.Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam 
                    neque sit amet sodales.
                </div>
            </div>
        </div>
        <div class="col-md-4 bg-white">
            <img src="https://picsum.photos/680/500" class="img-fluid" alt="Responsive image">
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-md-4 text-right bg-secondary">
            <img src="https://picsum.photos/680/500" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-6 pt-3 bg-white">
            <div class="row">
                <div class="col-md-8">
                    CHAPTER ONE<br>
                    JEUX DE COMBAT JS<br>
                    Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam neque sit amet sodales. Lorem 
                    ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus pellentes que velit, quis 
                    consequat nulla effi citur at. Maecenas sed massa tristique.Duis non volutpat arcu, eu mollis
                    tellus. Sed finibus aliquam neque sit amet sodales. Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Nulla maximus pellentes que velit, quis consequat nulla effi citur at. 
                    Maecenas sed massa tristique.Duis non volutpat arcu, eu mollis tellus. Sed finibus aliquam 
                    neque sit amet sodales.
                </div>
            </div>
        </div>  
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-5">
        <img src="{{ asset('images/swbattle.png') }}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>

{% include 'contact.html.twig' %}



{% endblock %}

{% block javascripts %}

<script>
console.log('copuiiu')
</script>

{% endblock %}