<footer>
    <div class="container pb-5 pt-5">
        <div class="row justify-content-center">
            
            <div class="col col-md-2 footerCard">
                <b>Projects#1</b></br>
                App-glycemic</br>
                Star wars battle</br>
                Heleor</br>
                Escargeddon</br>
            </div>
            <div class="col col-md-2 footerCard">
                <b>Projects#2</b></br>
                Chrono JS</br>
                Citation generator</br>
                Looking for pals</br>
                Sed eleifend</br>
            </div>
            <div class="col col-md-2 footerCard">
                <b>Projects#3</b></br>
                Logo Lfp</br>
                Poster</br>
                Brochure</br>
                Teechirt Brand</br>
            </div>
            <div class="col col-md-2 footerCard">
                <b>Liens</b></br>
                Home</br>
                Contact</br>
                Curriculum</br>
                Wordpress</br>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row text-center justify-content-center">
            <div class="col-md-12 footerBlock">Copyright ©2020 | Yirzaraji | All rights reserved | Symfony project</div>
        </div>
    </div>
</footer>