<div class="container-fluid simpleNavBar">
    <div class="row justify-content-between">
        <div class="md-2 NavDesktopSimple align-items-center ml-5"> 
            <div class="dzde">  
            <img src="{{ asset('images/logoround.png') }}" 
            alt="banner" style="width:10%">
            </div> 
        </div>
        <div class="md-10 NavDesktopSimple align-items-center mr-5">    
            <div class="navButton"><a href="{{ path('homepage') }}">HOME</a></div>
            <div class="navButton"><a href="{{ path('cv') }}">CV</a></div>
            <div class="navButton"><a href="#ankor_aboutMe">ABOUT</a></div>
            <div class="navButton"><a href="#ankor_contact">CONTACT</a></div>
        </div>
    </div>
</div>
