<nav>
  <div class="NavDesktop d-none d-sm-flex">
    <div class="navButton"><a href="{{ path('homepage') }}">HOME</a></div>
    <div class="navButton"><a href="{{ path('cv') }}">CV</a></div>
    <div class="navButton"><a href="#ankor_aboutMe">ABOUT</a></div>
    <div class="navButton"><a href="#ankor_contact">CONTACT</a></div>
  </div>
</nav>